@font-face {
    font-family: caflisch;
    src:url(../../assets/fonts/Caflisch\ Script\ Pro\ Regular.woff)format('woff');
}
.header {
    position: absolute;
    z-index: 90;
    font-family: caflisch;
    font-size: 22px;
    letter-spacing: 0.5px;
}

.column1 {
    left: 53px;
}

.column2 {
    left: 289px;
}

.column3 {
    left: 530px;
}

.line1 {
    top: 131px;
}

.line2 {
    top: 155px;
}

.line3 {
    top: 180px;
}

input {
    border: none;
    font-family: caflisch;
    font-size: 22px;
    outline: none;
    width: 180px;
}

option {
    border: none;
    font-family: caflisch;
    font-size: 18px;
    outline: none;
}

select {
    border: none;
    font-family: caflisch;
    font-size: 22px;
    outline: none;
    width: 150px;
    -webkit-appearance: none;
}