.App {
  text-align: center;
}

.page_size_complete{
  width: 794px;
  height: 1123px;
  display: block;
}

.app_logo {
  position: absolute;
  top: 0px;
  left: 228px;
  z-index: 10;
}

.page_transp {
  background: url('./assets/images/W20_2_Page_Character_Sheet-1.jpg') no-repeat;
  background-size: contain;
}

.page_shadow {
  margin: 13px auto;
  box-shadow: 1px 1px 3px 1px #333;
  border-collapse: separate;
  position: relative;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  border: 0;
}

.background_image {
  background-size: contain;
  background: url('./assets/images/wwborder.svg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
